# cache
*~
*.bk
*.bak
*.old
*.new

# IDE
.vs
.vscode
.DS_Store

tags
cscope*
.ycm*

# output
*.o
*.obj

*.pid
*.log
*.db

tmp
lib
bin
dist
build

# test
test

# msvc
*.VC.db
*.VC.VC.opendb
*.vcxproj.filters
Debug
Release
